/SimpleZipDrive/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SimpleZipDrive/obj/Debug/net8.0-windows/SimpleZipMounter.AssemblyInfo.cs
/SimpleZipDrive/obj/Debug/net8.0-windows/SimpleZipMounter.AssemblyInfoInputs.cache
/SimpleZipDrive/obj/Debug/net8.0-windows/SimpleZipMounter.assets.cache
/SimpleZipDrive/obj/Debug/net8.0-windows/SimpleZipMounter.csproj.AssemblyReference.cache
/SimpleZipDrive/obj/Debug/net8.0-windows/SimpleZipMounter.GeneratedMSBuildEditorConfig.editorconfig
/SimpleZipDrive/obj/Debug/net8.0-windows/SimpleZipMounter.GlobalUsings.g.cs
/SimpleZipDrive/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/SimpleZipDrive/obj/Debug/net9.0/SimpleZipMounter.AssemblyInfo.cs
/SimpleZipDrive/obj/Debug/net9.0/SimpleZipMounter.AssemblyInfoInputs.cache
/SimpleZipDrive/obj/Debug/net9.0/SimpleZipMounter.assets.cache
/SimpleZipDrive/obj/Debug/net9.0/SimpleZipMounter.csproj.AssemblyReference.cache
/SimpleZipDrive/obj/Debug/net9.0/SimpleZipMounter.GeneratedMSBuildEditorConfig.editorconfig
/SimpleZipDrive/obj/Debug/net9.0/SimpleZipMounter.GlobalUsings.g.cs
/SimpleZipDrive/obj/Debug/net9.0-windows/ref/SimpleZipDrive.dll
/SimpleZipDrive/obj/Debug/net9.0-windows/ref/SimpleZipMounter.dll
/SimpleZipDrive/obj/Debug/net9.0-windows/refint/SimpleZipDrive.dll
/SimpleZipDrive/obj/Debug/net9.0-windows/refint/SimpleZipMounter.dll
/SimpleZipDrive/obj/Debug/net9.0-windows/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/SimpleZipDrive/obj/Debug/net9.0-windows/apphost.exe
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZi.F553BB0D.Up2Date
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipDrive.AssemblyInfo.cs
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipDrive.AssemblyInfoInputs.cache
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipDrive.assets.cache
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipDrive.csproj.AssemblyReference.cache
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipDrive.csproj.CoreCompileInputs.cache
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipDrive.csproj.FileListAbsolute.txt
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipDrive.dll
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipDrive.GeneratedMSBuildEditorConfig.editorconfig
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipDrive.genruntimeconfig.cache
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipDrive.GlobalUsings.g.cs
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipMounter.AssemblyInfo.cs
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipMounter.AssemblyInfoInputs.cache
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipMounter.assets.cache
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipMounter.csproj.AssemblyReference.cache
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipMounter.csproj.CoreCompileInputs.cache
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipMounter.csproj.FileListAbsolute.txt
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipMounter.dll
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipMounter.GeneratedMSBuildEditorConfig.editorconfig
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipMounter.genruntimeconfig.cache
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipMounter.GlobalUsings.g.cs
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipMounter.pdb
/SimpleZipDrive/obj/Debug/net9.0-windows/SimpleZipMounter.sourcelink.json
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/ref/SimpleZipDrive.dll
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/refint/SimpleZipDrive.dll
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/apphost.exe
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/PublishOutputs.77dc9b9db5.txt
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/SimpleZi.8B3FD744.Up2Date
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/SimpleZipDrive.AssemblyInfo.cs
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/SimpleZipDrive.AssemblyInfoInputs.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/SimpleZipDrive.assets.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/SimpleZipDrive.csproj.AssemblyReference.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/SimpleZipDrive.csproj.CoreCompileInputs.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/SimpleZipDrive.csproj.FileListAbsolute.txt
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/SimpleZipDrive.deps.json
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/SimpleZipDrive.dll
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/SimpleZipDrive.genbundle.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/SimpleZipDrive.GeneratedMSBuildEditorConfig.editorconfig
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/SimpleZipDrive.genpublishdeps.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/SimpleZipDrive.genruntimeconfig.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-arm64/SimpleZipDrive.GlobalUsings.g.cs
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/ref/SimpleZipDrive.dll
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/ref/SimpleZipMounter.dll
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/refint/SimpleZipDrive.dll
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/refint/SimpleZipMounter.dll
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/apphost.exe
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/PublishOutputs.3fe89e5596.txt
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/PublishOutputs.19d342246a.txt
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/PublishOutputs.985a4b28d4.txt
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZi.8B3FD744.Up2Date
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZi.F553BB0D.Up2Date
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipDrive.AssemblyInfo.cs
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipDrive.AssemblyInfoInputs.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipDrive.assets.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipDrive.csproj.AssemblyReference.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipDrive.csproj.CoreCompileInputs.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipDrive.csproj.FileListAbsolute.txt
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipDrive.deps.json
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipDrive.dll
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipDrive.genbundle.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipDrive.GeneratedMSBuildEditorConfig.editorconfig
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipDrive.genpublishdeps.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipDrive.genruntimeconfig.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipDrive.GlobalUsings.g.cs
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipMounter.AssemblyInfo.cs
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipMounter.AssemblyInfoInputs.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipMounter.assets.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipMounter.csproj.AssemblyReference.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipMounter.csproj.CoreCompileInputs.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipMounter.csproj.FileListAbsolute.txt
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipMounter.deps.json
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipMounter.dll
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipMounter.genbundle.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipMounter.GeneratedMSBuildEditorConfig.editorconfig
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipMounter.genpublishdeps.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipMounter.genruntimeconfig.cache
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipMounter.GlobalUsings.g.cs
/SimpleZipDrive/obj/Release/net9.0-windows/win-x64/SimpleZipMounter.sourcelink.json
/SimpleZipDrive/obj/project.assets.json
/SimpleZipDrive/obj/project.nuget.cache
/SimpleZipDrive/obj/project.packagespec.json
/SimpleZipDrive/obj/rider.project.model.nuget.info
/SimpleZipDrive/obj/rider.project.restore.info
/SimpleZipDrive/obj/SimpleZipDrive.csproj.nuget.dgspec.json
/SimpleZipDrive/obj/SimpleZipDrive.csproj.nuget.g.props
/SimpleZipDrive/obj/SimpleZipDrive.csproj.nuget.g.targets
/SimpleZipDrive/obj/SimpleZipMounter.csproj.nuget.dgspec.json
/SimpleZipDrive/obj/SimpleZipMounter.csproj.nuget.g.props
/SimpleZipDrive/obj/SimpleZipMounter.csproj.nuget.g.targets

# Ignore build output directories
**/bin/
